@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: inherit;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#0a1d58,#9400FF, #788af2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    transform: translateY(-100px);
    padding: 10px;
    border-radius: 15px;
    border-style: hidden;
    background-color: white;
    width: 400px;
}

h1 {
    color: #9400FF;
}

nav img {
    height: 30px;
    transform: translateY(6px);
}
nav{
  margin: 10px;
  padding: 10px;  
}
input{
    padding: 12px 30px;
    transform: translateX(10px);
    border-style: none;
    outline-color: snow;
    font-size: 15px;
    border-radius: 25px;
    background-color: #F1EFEF;
}
.addbtn {
    padding: 10px 28px;
    transform: translateX(-20px);
    border-radius: 25px;
    border-style: hidden;
    background-color:#FC4F00;
    font-size: 18px;
    cursor: pointer;
}

.checklist{
    margin: 10px;
    padding: 10px;
    font-weight:500;
}
.checklist-child{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
.unchecked{
    cursor: pointer;
    height: 20px;
    margin:2px 5px;
}
.task{
    font-size: large;
    padding: 3px;
    width: 220px;

}
.del{
    border-radius: 15px;
    padding: 5px 10px;
    background-color: white;
    border-style: none;
    font-size: large;
    cursor: pointer;
}
.del:hover{
    background-color: whitesmoke;
}
.line{
    text-decoration: line-through;
}